@{
    Layout = "_AiraLayout";
}

<div>dfghaioer8wh2f90uwirbfvnweojdsvufnfjsvhfdjsk</div>

<div class="c-app_inner">
    <div id="loading" class="c-loading">
    </div>

    <div class="c-app_header">
    </div>

    <div class="c-app_body">
        <div class="container">
            <deep-chat 
                chatStyle='{ "height": "100%", "width":"100%" }'
                id="chatElement"
                ref="chatElementRef"
                requestBodyLimits='{"maxMessages":1}'
                history='[]'
                style="border-radius: 8px;"
                introMessage='{"text": ""}'
                messageStyles='{
                    "default": {
                        "shared": { "bubble": { "font-size": "0.75rem", "line-height": "1.375rem", "padding": "0.5rem 0.75rem" }},
                        "ai": { "bubble": { "background": "#F7F1FF" }},
                        "user": { "bubble": { "color": "#fff" }}
                    },
                    "image": { 
                        "user": { "bubble": { "border-radius": "1rem", "overflow": "clip", "text-align": "left", "display": "inline-block" }}
                    }}'>
            </deep-chat>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/deep-chat@2.0.1/dist/deepChat.bundle.js"></script>