@using Kentico.Xperience.Aira;

@model Kentico.Xperience.Aira.AiraPathsModel

@{
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
}

<div id="chat-app"
     data-paths-model='@Html.Raw(Json.Serialize(Model))'
     data-base-url="@baseUrl">
</div>