.c-uploaded-image{
  position: relative;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  &_header{
    position: relative;
    height: 1.375rem;
    padding: .125rem .75rem .125rem .125rem;
    background: #e6e6e6;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    border-radius: .25rem .25rem 0 0;
  }
  &_check{
    width: 1.75rem;
    height: 1.75rem;
    border-radius: .5rem;
    background: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .125rem auto -1rem .125rem;
    .c-icon{
      font-size: 1.125rem;
    }
  }
  &_img{
    width: 100%;
    height: calc(100% - 1.375rem);
    flex-shrink: 1;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 0 0 .25rem .25rem;
    overflow: clip;
  }
  .btn-remove-img{
    position: relative;
    padding: .875rem;
    background: transparent;
    margin: -.625rem;
    border-radius: 0;
    color: #a7a6a6;
    height: 2.25rem;
    width: 2.25rem;
    border: none !important;
    transition: none !important;
    .c-icon{
      font-size: .625rem;
      margin-top: 0;
    }
    &:active{
      color: #757575;
    }
  }
}