.c-app_input{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff;
  padding: 1rem;

  @include media-breakpoint-up(md){
    position: sticky;
  }

  .btn{
    border-radius: 1rem !important;
    padding: .5rem;
    background: transparent !important;
    color: inherit;
    &:hover,
    &:focus{
      background: #eee;
    }
    .c-icon{
      margin-top: 1px;
    }
  }

  .input-group{
    border: 1px solid #8C8C8C;
    border-radius: 1.5rem;
  }
  .form-control{
    margin-top: 0;
    padding: .4375rem .875rem;
    border: none;
    background: transparent;
  }
}