@using Kentico.Xperience.Aira
@using Kentico.Xperience.Aira.Models
@model SignInViewModel

<form asp-route-returnUrl='@Context.Request.Query["ReturnUrl"]' method="post" hx-swap="outerHTML" hx-post
      hx-controller="Signin" hx-vals='{ "returnUrl": "@(Context.Request.Query["ReturnUrl"])" }' hx-route-returnUrl='' id="signInForm" test-id="signIn">
    <div class="form">
        <div class="ktc-default-section">

            <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>

            <div class="form-field">
                <label asp-for="UserNameOrEmail" class="control-label"></label>
                <div class="editing-form-value-cell">
                    <input asp-for="UserNameOrEmail" class="form-control" test-id="userNameOrEmail">
                    <span asp-validation-for="UserNameOrEmail" class="field-validation-error"></span>
                </div>
            </div>

            <div class="form-field">
                <label asp-for="Password" class="control-label"></label>
                <div class="editing-form-value-cell">
                    <input asp-for="Password" class="form-control" test-id="password">
                    <span asp-validation-for="Password" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-field">
                <div class="ktc-checkbox">
                    <input asp-for="StaySignedIn" test-id="staySignedIn" class="form-control">
                    <label asp-for="StaySignedIn" class="form-check-label"></label>
                </div>
            </div>
            <button id="signIn" type="submit" class="btn btn--primary">Sign in</button>
        </div>
    </div>
</form>