.c-app_input{
  margin-top: auto;
  position: fixed;
  width: 100%;
  inset: auto 0 0;
  padding: 1rem 0;
  background-color: $k-app-bg;

  @include media-breakpoint-up(md){
    position: sticky;
  }

  .btn{
    border-radius: 1rem !important;
    padding: .5rem;
    background: transparent !important;
    color: inherit;
    &:hover,
    &:focus{
      background: #eee;
    }
    .c-icon{
      margin-top: 1px;
    }
  }

  .input-group{
    border: 1px solid #8C8C8C;
    border-radius: 1.5rem;
  }
  .form-control{
    margin-top: 0;
    padding: .4375rem .875rem;
    border: none;
    background: transparent;
  }
}