.c-prompt-suggestions{
  width: 100%;
  overflow-x: auto;
  overflow-y: clip;
  padding: .25rem 1rem .125rem;
  &_inner{
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    width: max-content;
    padding-bottom: .5rem;
  }
}

.c-prompt-overlay{
  position: fixed;
  inset: 0;
  background: $white;
  z-index: 50;
  padding-block: 5rem 3rem;
  overflow-y: auto;

  @include media-breakpoint-up(md){
    position: absolute;
    padding-top: 7rem;
  }
}


.c-prompt-suggestions,
.c-prompt-overlay{
  .btn{
    --bs-btn-border-radius: 1rem;
    --bs-btn-font-size: .75rem;
    --bs-btn-font-weight: inherit;
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .5rem;
    white-space: nowrap;
    flex-shrink: 0;
    &.btn-lg{
      --bs-btn-border-radius: #{$btn-border-radius-lg};
      --bs-btn-font-size: #{$btn-font-size-lg};
      --bs-btn-padding-x: #{$btn-padding-x-lg};
      --bs-btn-padding-y: #{$btn-padding-y-lg};
    }
  }
}