@using Connection.Extensions;
@using Kentico.Activities.Web.Mvc

@{
    var baseUrl = Context.Request.GetBaseUrl();
}
<!DOCTYPE html>

<html>
<head id="head">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">

    @await Html.PartialAsync("~/Views/Shared/Partials/_favicon.cshtml")

    <link color="#5bbad5" href="/content/images/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#da532c" name="msapplication-TileColor">

    <link href="@baseUrl/_content/Kentico.Xperience.Aira/css/variables.css" rel="stylesheet" type="text/css">
    <link href="@baseUrl/_content/Kentico.Xperience.Aira/css/assets.css" rel="stylesheet" type="text/css">
    <vc:website-template />

    <vc:html-header/>

    <page-builder-styles />
    <vc:custom-scripts head="true" />
    <vc:custom-code location="Head" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body class="p-app t-default">
    <div class="page-wrapper">


        <div class="content-wrapper">


            <section class="c-section app">
                <div id="app" class="c-app aira">
                    @RenderBody()
                </div>
            </section>
        </div> <!-- .content-wrapper -->



    </div> <!-- .page-wrapper -->

    <page-builder-scripts />

    @RenderSection("scripts", required: false)

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    
    <vc:custom-scripts head="false" />
    <script src="lib/htmx/htmx.min.js" asp-append-version="true"></script>
    <script src="@baseUrl/_content/Kentico.Xperience.Aira/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="@baseUrl/_content/Kentico.Xperience.Aira/js/index.js"></script>
</body>
</html>
