@using Kentico.Xperience.Aira
@using Kentico.Xperience.Aira.Authentication

@model SignInViewModel

@{
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
}

@section styles {
    <link href="@baseUrl/_content/Kentico.Xperience.Aira/css/style.css" rel="stylesheet" type="text/css">
}

<div class="c-app_inner is-loaded" id="aira-kentico-admin-signin"
    data-base-url="@baseUrl"
    data-aira-base-url="@Model.PathBase"
    data-chat-url="@Model.ChatRelativeUrl"
    data-logo-img-relative-path="@Model.LogoImageRelativePath">
    
    <div class="c-app_header"></div>
    <div class="c-app_body login">
        <div class="container">
            <h1 class="text-center k-dot">Sign in</h1>
            <div class="px-6 pt-6 d-flex justify-content-center">
                <button id="loginButton" type="submit" class="btn btn-outline-primary btn-lg">Continue with XbyK</button>
            </div>
        </div>
    </div>
    <div id="install-dialog"></div>
    }
</div>

<script>
    navigator.serviceWorker.register('/_content/Kentico.Xperience.Aira/sw.js')
</script>