@using Kentico.Xperience.Aira
@using Kentico.Xperience.Aira.Authentication
@model SignInViewModel

@{
    ViewData["Title"] = "Signin";
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values)?.ToLowerInvariant() ?? string.Empty;
}

<div class="c-app_inner is-loaded">

    <div class="c-app_header"></div>
    <div class="c-app_body login">
        <div class="container">
            <div class="col-xl-10 col-xxl-9">
                <div class="main">
                    <h1 class="text-center k-dot">Sign in</h1>
                </div>
                <div class="signin-register">
                    <div class="row">
                        <div class="col-md-12 px-6 py-3">
                            <div class="form-group-input">
                                <div class="logon-page-background">
                                    <div class="logon-panel">
                                        <partial name="~/Authentication/_SignIn.cshtml" model="Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>