@import "00_core/font";

@import "00_core/theme-settings";
@import "00_core/variables";

// bootstrap

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "00_core/bootstrap-override";

// components

@import "01_component/layout";
@import "01_component/nav";
@import "01_component/section";
@import "01_component/card";
@import "01_component/group";
@import "01_component/type";
@import "01_component/tag";
@import "01_component/list";
@import "01_component/form";
@import "01_component/content";
@import "01_component/header";
@import "01_component/icon";
@import "01_component/link";
@import "01_component/cookie-banner";
@import "01_component/cookie-preferences";
@import "01_component/app";
@import "01_component/rich-text";
@import "01_component/input";
@import "01_component/message";
@import "01_component/modal";
@import "01_component/loading";
@import "01_component/animation";
@import "01_component/prompt-suggestions";
@import "01_component/assets-upload";
@import "01_component/alert";
@import "01_component/image";

// templates

@import "02_template/default";
@import "02_template/article";

// pages
@import "03_page/author";
@import "03_page/dashboard";

// utils

@import "04_utils/color";
@import "04_utils/border";
@import "04_utils/other";
@import "04_utils/typography";