@using Kentico.Xperience.AiraUnified;

@model Kentico.Xperience.AiraUnified.Chat.Models.ChatThreadSelectorViewModel

@{
    Layout = "_AiraLayout";
    var baseUrl = Context.Request.GetBaseUrl();
}

@section styles {
    <link href="@baseUrl/_content/Kentico.Xperience.AiraUnified/css/style.css" rel="stylesheet" type="text/css">
}

<div id="thread-selector"
     data-aira-unified-base-url="@Model.AiraUnifiedBaseUrl"
     data-base-url="@baseUrl"
     data-navigation-url="@Model.NavigationUrl"
     data-navigation-page-identifier="@Model.NavigationPageIdentifier">
</div>

<script>
    navigator.serviceWorker.register('/_content/Kentico.Xperience.AiraUnified/sw.js')
</script>